.login-card {
    width: 500px;
    border-radius: 35px;
    margin-left: 33%;
    margin-top: 25%;
    padding: 30px;
    box-shadow: 0 0 20px 0 #37a8d4 !important;
    border: 1px solid #227b9e !important;
}

.login-card h5 {
    text-align: center !important;
    color: #227b9e !important;
    margin-bottom: 2rem;
}

.login-card button {
    text-align: center !important;
    background-color: #227b9e !important;
    border: 1px solid #59beec !important;
}

.border-right {
    border: 1px solid #37a8d4 !important;
    box-shadow: 0 0 20px 0 #2a7cc0 !important;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    padding: 0 !important;
}

.users {
    height: 600px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #227b9e #29aadd;
    padding: 15px;
}

.list-group li {
    cursor: pointer;
    border: 0px solid #59beec !important;
    border-bottom: 1px solid #59beec !important;
}

.card-chats {
    height: 700px;
    border: 1px solid #59beec !important;
    box-shadow: 0 0 20px 0 #59beec !important;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}

.titulo-chat {
    color: #56c4e6!important;
    display: flex;
    gap: 15px;
}

.titulo-chat span small {
    color: #a491f9 !important;
    font-size: 1rem;
}

.titulo-chat img {
    border-radius: 50% !important;
    border: 1px solid #56c4e6 !important;
    width: 50px;
    height: 50px;
}

.btn-enviar {
    text-align: center !important;
    background-color: #56c4e6 !important;
    border: 1px solid #4090c5 !important;
}

.btn-enviar:hover {
    background-color: #56c4e6!important;
}

#chats {
    overflow-y: scroll;
    height: 480px !important;
    scrollbar-width: thin;
    scrollbar-color: #4090c5 #56c4e6;
    border: 1px solid #4090c5 !important;
    padding-left: 4rem !important;
    padding-right: 4rem !important;
}

.flex {
    display: flex;
    gap: 10px;
}

.flex-right {
    justify-content: end;
}

.chat {
    border: 1px solid #3cc0f5 !important;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 60% !important;
}

.chat-emisor {
    background-color: #4090c5 !important;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.chat-receptor {
    background-color: #E0E7FF !important;
    /* float: right; */
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.img-chat {
    border-radius: 50% !important;
    border: 1px solid #0b5688 !important;
    width: 40px;
    height: 40px;
}

.online {
    padding: 15px !important;
    border-bottom: 1px solid #4090c5 !important;
}